<div class="row" style="padding-top:10px;box-shadow: 2px 2px 3px 3px rgba(128, 128, 128, 0.235);">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <h4 class="mb-32">Management Details</h4>
  
          <mat-grid-list cols="10" rowHeight="100px">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows">
              {{tile.text}}
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
        <mat-tab-group mat-stretch-tabs="false">
            <mat-tab label="Download">
              <mat-card-content>Download</mat-card-content>
            </mat-tab>
            <mat-tab label="Upload">
              <mat-card-content>Upload</mat-card-content>
            </mat-tab>
            <mat-tab label="Upload">
                <mat-card-content>Upload</mat-card-content>
              </mat-tab>
              <mat-tab label="ABC">
                <mat-card-content>aaaaaaaaaaa</mat-card-content>
              </mat-tab>
              <mat-tab label="DEF">
                <mat-card-content>aaaaaaaaaaa</mat-card-content>
              </mat-tab>
          </mat-tab-group>
      </mat-card>
    </div>
  </div>
<!-- ============================================================== -->
<!-- row -->
<!-- ============================================================== -->



