<!-- Alerts -->
<div class="card">
  <div class="card-body">
    <h4 class="mb-32">Alerts</h4>

    <div *ngIf="totalElement == 0">
      class="alert {{ alert.background }} {{ alert.color }} d-flex fs-14 align-items-center rounded mb-16"
      role="alert">
      <i-feather name="{{ alert.icon }}" class="{{ alert.iconColor }} feather-base me-12"></i-feather>
      {{ alert.message }}
    </div>

  </div>
</div>
<!-- Cards -->
<div class="row">
    <div class="col-lg-3" *ngFor="let card of cards">

      <mat-card class="overflow-hidden">
        <div>
          <img src="#" class="w-100">
        </div>
        <mat-card-content>
          <div>
            <p class="fs-18 lh-lg fw-medium">
              {{card.name}}
            </p>
            <p class="op-7">
              {{card.unit_price}}
            </p>
            <button mat-flat-button color="accent" class="fw-normal mt-4">Add To Cart</button>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
