<!-- ============================================================== -->
<!-- Fixed height Card Grid-->
<!-- ============================================================== -->
<div class="row">
    <div class="col-12">
      <mat-card>
        <mat-card-content>
          <h4 class="mb-32">Promotion Events</h4>
  
          <mat-grid-list cols="4" rowHeight="300px">
            <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
              [style.background]="tile.color">
              <img class = "img-contain" src="{{tile.image}}" alt="{{tile.text}}">
            </mat-grid-tile>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
